<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
        <!-- <img src="http://www.clker.com/cliparts/J/D/1/f/s/y/r-o-b-flame-logo-hi.png" width="30px" height="50px"> -->
        <h1><a class="scrollto">Madiun United</a></h1>
      
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="">Home</a></li>
        <li class="menu-has-children"><a href="">Galery</a>
          <ul>
            <li routerLinkActive="active">
                <a routerLink="/foto">Foto</a></li>
            <!-- <li><a href="#" (click)="onSelect('foto')">Foto</a></li> -->
          </ul>
        </li>
        <li class="menu-has-children"><a href="">Sejarah</a>
          <ul>
            <li><a href="#">Kabupaten Madiun</a></li>
            <li><a href="#">Kota Madiun</a></li>
          </ul>
        </li>
        <li class="menu-has-children"><a href="">Info</a>
          <ul>
            <li><a href="#">Event</a></li>
            <li><a href="#">Berita</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>